{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% form_theme form 'SRPSBookingBundle:Admin:fields.html.twig' %}

{% block sidebar %}
    {% include 'SRPSBookingBundle:Admin:sidebar.html.twig' %}
{% endblock sidebar %}

{% block content %}

    <h2>New destination</h2>
    <h4>{{ service.name }}</h4>

    <div class="alert alert-info">
        The description will be shown to the user to select their destination.
        This can be a simple destination station or a destination station plus
        an 'optional extra' (e.g. "Grange-over-Sands plus Windermere Cruise").
        Please make sure you include all possible combinations as destinations.
    </div>

    <form id="destination-new-form" class="form-horizontal" action="{{ path('admin_destination_create', {'serviceid': service.id}) }}" novalidate="novalidate" method="post" {{ form_enctype(form) }}>
      {{ form_row(form.crs) }}
      {{ form_row(form.name) }}
        {% spaceless %}
            <div class="control-group">
                {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                <div class="controls">
                    {{ form_widget(form.description, {'attr': {'cols': '40', 'rows': '4'}}) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>
        {% endspaceless %}
        {{ form_rest(form) }}
    </form>

    <button class ="btn btn-primary" onclick="$('#destination-new-form').submit();">
        Create destination
    </button>
    <a class="btn btn-warning" href="{{ path('admin_destination', { 'serviceid': service.id }) }}">
        Cancel
    </a>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#srps_bookingbundle_destinationtype_crs").change(
            function() {
                crs = $(this).val();
                name = $("#srps_bookingbundle_destinationtype_name").val();
                //if (!name) {
                if (true) {
                    $.ajax({
                        url: "{{ path('admin_destination_ajax') }}",
                        data: { 'crstyped': crs },
                        type: 'post',
                        success: function(output) {
                                $("#srps_bookingbundle_destinationtype_name").val(output);
                            }
                    });
                    //$("#srps_bookingbundle_destinationtype_name").val(crs);
                }
            }
        );
    </script>
{% endblock javascripts %}

