{# src/SRPS/BookingBundle/Resources/views/Admin/fields.html.twig #}

{# original in vendor/symfony/symfony/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig #}

{% block form_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}


{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li><span class="label label-important">{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</span></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% for child in form %}
        <label class="radio">
            {{ form_widget(child) }}
            <b>{{ child.vars.label }}</b>
        </label>
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}