{# Sidebar template #}

<h4>Admin menu</h4>

<ul id="adminmenu">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_service_show', { 'id': serviceid }) }}">
            Show service
        </a>
    </li>
    <li>
        <a class="btn btn-warning" href="{{ path('admin_service_edit', { 'id': serviceid }) }}">
            Edit service
        </a>
    </li>
    {% if serviceid %}
        <li>
            <a class="btn btn-warning" href="{{ path('admin_destination', { 'serviceid': serviceid }) }}">
                Edit destinations
            </a>
        </li>   
        <li>
            <a class="btn btn-warning" href="{{ path('admin_priceband', { 'serviceid': serviceid }) }}">
                Edit price bands
            </a>
        </li>     
        <li>
            <a class="btn btn-warning" href="{{ path('admin_joining', { 'serviceid': serviceid }) }}">
                Edit joining stations
            </a>
        </li>      
        <li>
            <a class="btn btn-primary" href="{{ path('admin_limits_edit', { 'serviceid': serviceid }) }}">
                Booking limits
            </a>
        </li>         
    {% endif %}
    <li>
        <a class="btn btn-success" href="{{ path('admin_service') }}">
            Return to list
        </a>
    </li>
</ul>
