{# Sidebar template #}

<h3>Administration</h3>

{% if app.user %}
    <p>
        <i>Welcome <b>{{ app.user.username }}</b></i> 
    </p>
{% endif %}

<div id="adminmenu">
    {% if serviceid  %}
        <p>
            <a class="btn btn-success" href="{{ path('admin_service_show', { 'id': serviceid }) }}">
                <i class="fa fa-cogs"></i> Show service
            </a>
        </p>
        {% if app.user.role == 'ROLE_ADMIN' %}
            <p>
                <a class="btn btn-success" href="{{ path('admin_service_edit', { 'id': serviceid }) }}">
                    <i class="fa fa-edit"></i> Edit service
                </a>
            </p> 
        {% endif %}
        {% if app.user.role == 'ROLE_ADMIN' %}
            <p>
                <a class="btn btn-success" href="{{ path('admin_destination', { 'serviceid': serviceid }) }}">
                    <i class="fa fa-map-marker"></i>&nbsp;
                    {% if destinations is defined %}
                        {{ destinations ? 'Edit destinations' : 'New destination' }}
                    {% else %}
                        Edit destinations
                    {% endif %}    
                </a>
            </p>
            <p>
                <a class="btn btn-success" href="{{ path('admin_priceband', { 'serviceid': serviceid }) }}">
                    <i class="fa fa-gbp"></i>&nbsp;
                    {% if pricebandgroups is defined %}
                        {{ pricebandgroups ? 'Edit price bands' : 'New price band' }}
                    {% else %}
                        Edit price bands
                    {% endif %}
                </a>
            </p>
            <p>
                <a class="btn btn-success" href="{{ path('admin_joining', { 'serviceid': serviceid }) }}">
                    <i class="fa fa-building-o"></i>&nbsp; 
                    {% if joinings is defined %}
                        {{ joinings ? 'Edit joining stations' : 'New joining station' }}
                    {% else %}
                        Edit joining stations
                    {% endif %}
                </a>
            </p>    
        {% endif %}
        <p>
            <a class="btn btn-success" href="{{ path('admin_limits_edit', { 'serviceid': serviceid }) }}">
                <i class="fa fa-arrows-v"></i> Booking limits
            </a>
        </p>        
    {% endif %}
    <p>
        <a class="btn btn-success" href="{{ path('admin_service') }}">
            <i class="fa fa-home"></i> Return to list
        </a>
    </p>   
    <p>
        <a href="{{ path('logout') }}" class="btn btn-danger btn-sm" role="button">
            <i class="fa fa-sign-out"></i> Logout
        </a>
    </p>        
</div>
