{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% form_theme edit_form 'SRPSBookingBundle:Admin:fields.html.twig' %}

{% block content %}
    <h2>Service edit</h2>

    <form class="form-horizontal" action="{{ path('admin_service_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.visible) }}
    {{ form_row(edit_form.date) }}        
                
        <table class="table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Meal name</th>
                    <th>Visible?</th>
                    <th>Meal price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="lead">A</th>
                    <td>{{ form_widget(edit_form.mealaname) }}</td>
                    <td>{{ form_widget(edit_form.mealavisible) }}</td>
                    <td>{{ form_widget(edit_form.mealaprice) }}</td>
                </tr>
                <tr>
                    <th class="lead">B</th>
                    <td>{{ form_widget(edit_form.mealbname) }}</td>
                    <td>{{ form_widget(edit_form.mealbvisible) }}</td>
                    <td>{{ form_widget(edit_form.mealbprice) }}</td>
                </tr>
                <tr>
                    <th class="lead">C</th>
                    <td>{{ form_widget(edit_form.mealcname) }}</td>
                    <td>{{ form_widget(edit_form.mealcvisible) }}</td>
                    <td>{{ form_widget(edit_form.mealcprice) }}</td>
                </tr>
                <tr>
                    <th class="lead">D</th>
                    <td>{{ form_widget(edit_form.mealdname) }}</td>
                    <td>{{ form_widget(edit_form.mealdvisible) }}</td>
                    <td>{{ form_widget(edit_form.mealdprice) }}</td>
                </tr>
            </tbody>
        </table>    
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_service') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('admin_service_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock content %}