{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% block sidebar %}
    
    <h3>Administration</h3>

    {% if app.user %}
        <p>
            <i>Welcome <b>{{ app.user.username }}</b></i> 
        </p>
    {% endif %}
    
    <form id="services_filter_form" class="form-horizontal" role="form" action="{{ path('admin_index') }}"
        novalidate="novalidate" method="post">
        <div class="form-group">
            <label for="services_filter_year">Tour season</label>
            <select id="services_filter_year" class="form-control" name="filter_year">
                {% for year in years %}
                    <option {{ year==filteryear ? 'selected="selected"' : '' }}>{{ year }}</option>
                {% endfor %}    
            </select>
        </div>
    </form>
    
    <div id="adminmenu">
        {% if app.user.role == 'ROLE_ADMIN' %}
            <p><a class="btn btn-success btn-sm" href="{{ path('admin_user_index') }}">
                    <i class="fa fa-users"></i> User admin
            </a></p>
        {% endif %}
        <p><a href="{{ path('logout') }}" class="btn btn-danger btn-sm" role="button">
            <i class="fa fa-sign-out"></i> Logout
        </a></p>
    </div>    
{% endblock sidebar %}

{% block content %}
    <h2>Railtour Services</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Visible</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
                <tr class="svc_upper">
                    <td rowspan="2"><strong>{{ entity.code }}</strong></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.visible ? '<i class="fa fa-eye fa-lg"></i>' : '<i class="fa fa-eye-slash fa-lg"></i>' }}</td>
                    <td>{% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif %}</td>
                </tr>
                <tr class="svc_lower">
                    <td colspan="3">
                        <a class="btn btn-sm btn-primary" href="{{ path('admin_service_show', { 'id': entity.id }) }}">
                            <i class="fa fa-cogs"></i> Show</a>
                        <a class="btn btn-sm btn-primary" href="{{ path('admin_limits_edit', { 'serviceid': entity.id }) }}">
                            <i class="fa fa-arrows-v"></i> Limits</a>
                        {% if entity.visible and enablebooking %}
                            <a class="btn btn-sm btn-primary" href="{{ path('booking', { 'code': entity.code }) }}">
                                <i class="fa fa-external-link-square"></i> Booking</a>
                        {% else %}
                            <a class="btn btn-sm btn-primary disabled">
                                <i class="fa fa-external-link-square"></i> Booking</a>
                        {% endif %}
                        <a class="btn btn-sm btn-primary" href="{{ path('admin_report_list', { 'serviceid': entity.id }) }}">
                            <i class="fa fa-briefcase"></i> Report</a>
                        <a class="btn btn-sm btn-primary" href="{{ path('admin_report_export', { 'serviceid': entity.id }) }}">
                            <i class="fa fa-download"></i> Export</a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>

        {% if not enablebooking %}
            <div class="alert">
                NOTE: Booking is currently disabled on this site
            </div>
        {% endif %}

        {% if app.user.role == 'ROLE_ADMIN' %}
            <div class="btn-group">
                <a class="btn btn-success" href="{{ path('admin_service_new') }}">
                    <i class="fa fa-plus"></i> Add a new service
                </a>
            </div>
        {% endif %}
{% endblock content %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#services_filter_year').change(
                function() {
                    $('#services_filter_form').submit();
                }
            );
    </script>    
{% endblock javascripts %}