{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% block content %}
    <h2>Railtour Services</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Visible</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
                <tr>
                    <td><strong>{{ entity.code }}</strong></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.visible ? 'Yes' : 'No' }}</td>
                    <td>{% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif %}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('admin_service_show', { 'id': entity.id }) }}">show</a>
                        {% if entity.visible and enablebooking %}
                            <a class="btn btn-info" href="{{ path('booking', { 'code': entity.code }) }}">Booking</a>
                        {% else %}
                            <a class="btn btn-info disabled">Booking</a>
                        {% endif %}
                        <a class="btn btn-warning" href="{{ path('admin_report_list', { 'serviceid': entity.id }) }}">Report</a>
                        <a class="btn btn-warning" href="{{ path('admin_report_export', { 'serviceid': entity.id }) }}">Export</a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>

        {% if not enablebooking %}
            <div class="alert">
                NOTE: Booking is currently disabled on this site
            </div>
        {% endif %}

        <div class="btn-group">
            <a class="btn btn-primary" href="{{ path('admin_service_new') }}">
                Add a new service
            </a>
        </div>
{% endblock content %}