{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% form_theme form 'SRPSBookingBundle:Admin:fields.html.twig' %}

{% block content %}

    <h2>New service</h2>

    <form id="service-new-form" class="form-horizontal" action="{{ path('admin_service_create') }}" novalidate="novalidate" method="post" {{ form_enctype(form) }}>
      {{ form_row(form.code) }}
      {{ form_row(form.name) }}
        {% spaceless %}
            <div class="control-group">
                {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                <div class="controls">
                    {{ form_widget(form.description, {'attr': {'cols': '40', 'rows': '8'}}) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>
        {% endspaceless %}
        {{ form_row(form.visible) }}
        {{ form_row(form.date) }}
        {{ form_row(form.singlesupplement) }}
        {{ form_row(form.commentbox) }}

            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Meal name</th>
                        <th>Visible?</th>
                        <th>Meal price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="lead">A</th>
                        <td>{{ form_widget(form.mealaname) }} {{ form_errors(form.mealaname) }}</td>
                        <td>{{ form_widget(form.mealavisible) }}</td>
                        <td>{{ form_widget(form.mealaprice) }} {{ form_errors(form.mealaprice) }}</td>
                    </tr>
                    <tr>
                        <th class="lead">B</th>
                        <td>{{ form_widget(form.mealbname) }} {{ form_errors(form.mealbname) }}</td>
                        <td>{{ form_widget(form.mealbvisible) }}</td>
                        <td>{{ form_widget(form.mealbprice) }} {{ form_errors(form.mealbprice) }}</td>
                    </tr>
                    <tr>
                        <th class="lead">C</th>
                        <td>{{ form_widget(form.mealcname) }} {{ form_errors(form.mealcname) }}</td>
                        <td>{{ form_widget(form.mealcvisible) }}</td>
                        <td>{{ form_widget(form.mealcprice) }} {{ form_errors(form.mealcprice) }}</td>
                    </tr>
                    <tr>
                        <th class="lead">D</th>
                        <td>{{ form_widget(form.mealdname) }} {{ form_errors(form.mealdname) }}</td>
                        <td>{{ form_widget(form.mealdvisible) }}</td>
                        <td>{{ form_widget(form.mealdprice) }} {{ form_errors(form.mealdprice) }}</td>
                    </tr>
                </tbody>
            </table>
        {{ form_rest(form) }}
    </form>

    <button class ="btn btn-primary" onclick="$('#service-new-form').submit();">
        Create service
    </button>
    <a class="btn btn-warning" href="{{ path('admin_service') }}">
        Cancel
    </a>

{% endblock content %}

{%block javascripts %}
    {{ parent() }}
    <script>
        $('#srps_bookingbundle_servicetype_date').datepicker({dateFormat: "dd/mm/yy" });
    </script>
{% endblock javascripts %}
