{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% block content %}
    <h2>Service</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ entity.visible }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('d/m/Y') }}</td>
            </tr>
        </tbody>
    </table>
    
    <h3>Meals</h3>
    
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Visible</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th class="lead">A</th>
                <td>{{ entity.mealaname }}</td>
                <td>{{ entity.mealavisible }}</td>
                <td>{{ entity.mealaprice }}</td>
            </tr>
            <tr>
                <th class="lead">B</th>
                <td>{{ entity.mealbname }}</td>
                <td>{{ entity.mealbvisible }}</td>
                <td>{{ entity.mealbprice }}</td>
            </tr>
            <tr>
                <th class="lead">C</th>
                <td>{{ entity.mealcname }}</td>
                <td>{{ entity.mealcvisible }}</td>
                <td>{{ entity.mealcprice }}</td>
            </tr>
            <tr>
                <th class="lead">D</th>
                <td>{{ entity.mealdname }}</td>
                <td>{{ entity.mealdvisible }}</td>
                <td>{{ entity.mealdprice }}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group">
            <a class="btn btn-success" href="{{ path('admin_service') }}">
                Back to the list
            </a>
            <a class="btn btn-warning" href="{{ path('admin_service_edit', { 'id': entity.id }) }}">
                Edit
            </a>
    </div>
{% endblock content %}