{% extends 'SRPSBookingBundle:Booking:booking.html.twig' %}

{% form_theme form 'SRPSBookingBundle:Admin:fields.html.twig' %}

{% block content %}
    <h2>SRPS Railtours Online Booking</h2>

    <h3 class="text-error">Additional options and comments...</h3>

    <form id="additional-form" class="form-horizontal" action="{{ path('booking_additional') }}"
          novalidate="novalidate" method="post" {{ form_enctype(form) }}>
        {% if iscomments %}
            <div class="alert alert-block">
                You may add a short comment or request here and we will do our best
                to accommodate you. Please <b>DO NOT</b> use this to ask a question
                or request special meals - please call us. 
            </div>  
            {{ form_row(form.comment) }}    
        {% endif %}
                    
        {% if issupplement %}
            <div class="alert alert-block">
                You may specially request the single seats by the window in our
                'First Open' coaches. These are available in limited numbers to
                First Class passengers at
                a charge of &pound;{{ service.singlesupplement | number_format(2) }}
                per person<br />
            </div>  
            {{ form_row(form.seatsupplement) }}
        {% endif %}            

    </form>

    <div>
        <a class="btn btn-primary" onclick="$('#additional-form').submit();">
            Next step
        </a>
    </div>

{% endblock content %}