{# src/SRPS/Resources/views/Booking/booking.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/srpsbooking/css/booking.css') }}" rel="stylesheet" media="screen">
{% endblock stylesheets %}

{% block title %}SRPS Railtours{% endblock title %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% block sidebar %}
                    <div id="sb_info" class="alert alert-block alert-info">
                        <img src="{{ asset('bundles/srpsbooking/images/railtourh.png') }}" alt="Railtour Logo" />                    
                        <h5>{{ service.name }}</h5>
                        {{ service.description | raw }}    
                    </div>    
                {% endblock sidebar %}            
            </div>
            <div class="col-md-6">
                {% block content %}{% endblock content %}
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
    </div>
{% endblock body%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/srpsbooking/js/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ asset('bundles/srpsbooking/tinymce/jscripts/tiny_mce/tiny_mce.js') }}"></script>
    <script src="{{ asset('bundles/srpsbooking/jqueryui/js/jquery-ui-1.10.0.custom.min.js') }}"></script>

    <script type="text/javascript">
        tinyMCE.init({
            theme : "simple",
            mode : "textareas"
        });


    </script>
{% endblock javascripts %}