{% extends 'SRPSBookingBundle:Booking:booking.html.twig' %}

{% form_theme form 'SRPSBookingBundle:Admin:fields.html.twig' %}

{% block content %}
    <h2>SRPS Railtours Online Booking</h2>

    <h3 class="text-error">Destination...</h3>

    <p>
        There is more than one destination/option for this tour. Please choose
        the one you would like (Prices are per passenger)
    </p>

    <form id="destination-form" class="form-horizontal" action="{{ path('booking_destination') }}"
          novalidate="novalidate" method="post" {{ form_enctype(form) }}>

          {% for destination in destinations %}
              {% if destination.available %}
                  <label class="radio">
                      <input type="radio" value="{{ destination.crs }}" name="srps_bookingbundle_booking_destinationtype[destination]">
                      <p>{{ destination.description | raw }}</p>
                      <p class="text-info">Price Each: <b>First</b> &pound;{{ destination.first }},  <b>Standard adult</b>
                          &pound;{{ destination.standard }},  <b>Standard child</b> &pound;{{ destination.child }}</p>
                  </label>
              {% else %}
                  <div class="alert alert-error">
                      <p class="muted">{{ destination.description | raw }}</p>
                      <p><b>Sorry, this destination is fully booked.</b></p>
                  </div>
              {% endif %}
          {% endfor %}
          {{ form_errors(form.destination) }}
    </form>

    <div>
        <a class="btn btn-primary" onclick="$('#destination-form').submit();">
            Next step
        </a>
    </div>

{% endblock content %}