{% extends 'SRPSBookingBundle:Booking:booking.html.twig' %}

{% block content %}
    <h2>SRPS Railtours Online Booking</h2>

    <h3 class="text-error">Review and pay</h3>

    <p>
        Review your booking information. When you are happy, go to our secure
        payment partner to complete your booking.
    </p>

    <dl class="dl-horizontal">
        <dt>Booking ref</dt>
        <dd>{{ purchase.bookingref }}</dd>

        <dt>Tour name</dt>
        <dd>{{ service.name }}</dd>

        <dt>Tour date</dt>
        <dd>{{ service.date | date('d/m/Y') }}</dd>

        <dt>Destination</dt>
        <dd>{{ destination.name }}</dd>

        <dt>Joining station</dt>
        <dd>{{ joining.station }}</dd>

        <dt>Number of adults</dt>
        <dd>{{ purchase.adults }}</dd>

        <dt>Number of children</dt>
        <dd>{{ purchase.children }}</dd>
        
        <dt>Travel class</dt>
        <dd>{{ purchase.class=='F' ? 'First' : 'Standard' }}</dd>
        
        {% if purchase.seatsupplement %}
            <dt>Window supplement</dt>
            <dd>Yes (&pound;{{ fare.seatsupplement | number_format(2) }})</dd>
        {% endif %}

        <dt>Name<dt>
        <dd>{{ purchase.title }} {{ purchase.firstname }} {{ purchase.surname }}</dd>

        <dt>Address line 1</dt>
        <dd>{{ purchase.address1 }}</dd>

        {% if purchase.address2 %}
            <dt>Address line 2</dt>
            <dd>{{ purchase.address2 }}</dd>
        {% endif %}

        <dt>Post town/city</dt>
        <dd>{{ purchase.city }}</dd>

        {% if purchase.county %}
            <dt>County</dt>
            <dd>{{ purchase.county }}</dd>
        {% endif %}

        <dt>Postcode</dt>
        <dd>{{ purchase.postcode }}</dd>
        
        {% if purchase.phone %}
            <dt>Telephone</dt>
            <dd>{{ purchase.phone }}</dd>
        {% endif %}
            
        <dt>Email</dt>
        <dd>{{ purchase.email }}</dd>

        <dt>Total price</dt>
        <dd>&pound;{{ purchase.payment | number_format(2) }}</dd>
    </dl>

    <div class="alert alert-error">
        By placing this booking you agree that you have read, understood and agree
        to our <a href="http://www.srps.org.uk/railtours/conditions.htm" target="_terms">
        Terms and Conditions</a>
    </div>

    <form id="sagepay-form" class="form-horizontal" action="{{ sage.submissionurl }}"
          novalidate="novalidate" method="post">
        <input type="hidden" name="VPSProtocol" value="3.00" />
        <input type="hidden" name="TxType" value="PAYMENT" />
        <input type="hidden" name="Vendor" value="{{ sage.login }}" />
        <input type="hidden" name="Crypt" value="{{ sage.crypt }}" />
    </form>

    <div>
        <a class="btn btn-primary" onclick="sagepay_submit();">
            Go to our secure payment site
        </a>
    </div>

    <script>
        function sagepay_submit() {
            $('#sagepay-form').submit();
        }
    </script>

{% endblock content %}