{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/srpsbooking/jqueryui/css/ui-lightness/jquery-ui-1.10.0.custom.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/srpsbooking/css/booking.css') }}" rel="stylesheet" media="screen">
{% endblock stylesheets %}

{% block body %}    
    <div class="row-fluid">
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post" role="form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <br />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
            <br />

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit" class="btn">login</button>
        </form>
    </div>
{% endblock body %}