{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% block sidebar %}
    {% include 'SRPSBookingBundle:Admin:sidebar.html.twig' %}
{% endblock sidebar %}

{% block content %}
    <h2>Price bands</h2>
    <h4>{{ service.name }}</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Destination</th>
                <th>First</th>
                <th>Standard</th>
                <th>Child</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
                <tr>
                    <td>&nbsp;</td>
                    <td>{{ entity.first }}</td>
                    <td>{{ entity.standard }}</td>
                    <td>{{ entity.child }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('admin_priceband_edit', { 'id': entity.id }) }}">Edit</a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>

        <div class="btn-group">
            <a class="btn btn-primary" href="{{ path('admin_priceband_new', { 'serviceid': service.id }) }}">
                Add a new price band
            </a>
        </div>
{% endblock content %}