{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% form_theme form 'SRPSBookingBundle:Admin:fields.html.twig' %}

{% block sidebar %}
    {% include 'SRPSBookingBundle:Admin:sidebar.html.twig' %}
{% endblock sidebar %}

{% block content %}

    <h2>New pricebands</h2>
    <h4>{{ service.name }}</h4>

    <form id="priceband-new-form" class="form-horizontal" action="{{ path('admin_priceband_create', {'serviceid': service.id}) }}" novalidate="novalidate" method="post" {{ form_enctype(form) }}>

        {{ form_rest(form) }}     
    </form>
    
    <button class ="btn btn-primary" onclick="$('#destination-new-form').submit();">
        Create destination
    </button>
    <a class="btn btn-warning" href="{{ path('admin_destination', { 'serviceid': service.id }) }}">
        Cancel
    </a>

{% endblock content %}
 
