{# template for the punter's failure email #}

<p>
    Dear {{ purchase.title }} {{ purchase.firstname }} {{ purchase.surname }},
</p>

<p><b>Booking reference: {{ purchase.bookingref }}</b></p>

<p>
    Thank you for booking with SRPS Railtours. However, we regret that your payment
    has been declined by our online payment partner. 
</p>

<p>
    This email contains the information we have recieved for your information. 
    Please DO NOT contact us regarding this payment as we have no other details.
    We advise you to contact your card issuer directly. 
</p>    

<ul>
    <li>Card type: {{ purchase.cardtype }}</li>
    <li>Payment status: {{ purchase.statusdetail }}</li>
    <li>Bank decline code: {{ purchase.declinecode }}</li>
</ul>

<p>
    Please contact us on <b>0131 202 1033</b>
    if you have any other questions about this or any other bookings. Please do 
    not reply to this email as the mailbox is not monitored.
<p>    

<p><small>
    SRPS Railtours Ltd. does not accept responsibilities for delays, mishaps or
    alterations/curtailment of the tour arising from situations outside of its
    control. Your booking is taken as acceptance of these conditions. SRPS Railtours Ltd.
    is a trading subsidiary of the Scottish Railway Preservation Society. Your personal
    details may be recorded in computer systems operated on behalf of the Scottish
    Railway Preservation Society for the purpose of making travel arrangements
    and of marketing tours. Your details will not be passed on to any other 
    organisations.<br />
    Our terms and conditions are at <a href="http://www.srps.org.uk/railtours/conditions.htm">
    http://www.srps.org.uk/railtours/conditions.htm</a><br />
    SRPS Railtours Ltd., Registered in Scotland. Reg. No. 15847<br />
    Reg. Office 17-19 North Street, Bo'ness, West Lothian.
</small></p>
