{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% block content %}
    <h2>Railtour Reports</h2>

    <h3>{{ service.name }}</h3>

    <table class="table table-striped table-condensed">
        <tbody>
                <tr>
                    <th>Booking Ref</th>
                    <td>{{ purchase.bookingref }}</td>
                </tr>
                <tr>
                    <th>Payment status</th>
                    <td>{{ purchase.status }} <i>"{{ purchase.statusdetail }}"</i></td>
                </tr>
                <tr>
                    <th>Booking date</th>
                    <td>{{ purchase.date | date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th>Payment made</th>
                    <td>&pound;{{ purchase.payment | number_format(2) }}</td>
                </tr>
                <tr>
                    <th>Customer</th>
                    <td>{{ purchase.title }} {{ purchase.firstname }} {{ purchase.surname }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>
                        <address>
                            {{ purchase.address1 }}<br />{{ purchase.address2 }}<br />
                            {{ purchase.city }}<br />{{ purchase.county }}<br />
                            {{ purchase.postcode }}
                        </address>
                    </td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>{{ purchase.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><a href="mailto:{{ purchase.email }}">{{ purchase.email }}</a></td>
                </tr>
                <tr>
                    <th>Joining station</th>
                    <td>{{ purchase.joining }}</td>
                </tr>
                <tr>
                    <th>Destination</th>
                    <td>{{ purchase.destination }}</td>
                </tr>
                <tr>
                    <th>Travel class</th>
                    <td>{{ purchase.class }}</td>
                </tr>
                <tr>
                    <th>Number of Adults</th>
                    <td>{{ purchase.adults }}</td>
                </tr>
                <tr>
                    <th>Number of children</th>
                    <td>{{ purchase.children }}</td>
                </tr>
                <tr>
                    <th>Booked Meal A ({{ service.mealaname }})</th>
                    <td>{{ purchase.meala }}</td>
                </tr>
                <tr>
                    <th>Booked Meal B ({{ service.mealbname }})</th>
                    <td>{{ purchase.mealb }}</td>
                </tr>
                <tr>
                    <th>Booked Meal C ({{ service.mealcname }})</th>
                    <td>{{ purchase.mealc }}</td>
                </tr>
                <tr>
                    <th>Booked Meal D ({{ service.mealdname }})</th>
                    <td>{{ purchase.meald }}</td>
                </tr>
                <tr>
                    <th>First window/single requested</th>
                    <td>{{ purchase.seatsupplement ? 'Yes' : 'No' }}</td>
                </tr>    
                <tr>
                    <th>Comment</th>
                    <td>{{ purchase.comment }}</td>
                </tr>
                <tr>
                    <th>Card & last 4 digits</th>
                    <td>{{ purchase.cardtype }}  {{ purchase.last4digits }}</td>
                </tr>
                <tr>
                    <th>Bank auth code</th>
                    <td>{{ purchase.bankauthcode }}</td>
                </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <a class="btn btn-primary" href="{{ path('admin_report_list', { 'serviceid': service.id }) }}">
            Back to list
        </a>
    </div>
{% endblock content %}